.section-content {
    width: 100%;
    padding: 60px 0 60px 0;
    background-color: rgb(243, 243, 220);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    width: 60%;
    position: relative;
    margin: auto;
}

.divider {
    border-top: 1px;
    width: 80%;
    border-color: black;
    margin: 60px auto;
}

.intro {
    position: relative;
    margin: auto;
}

#intro-content {
    width: 50%;
    margin: auto;
}

.content h2 {
    font-size: 40px;
}

.content p {
    font-size: 25px;
}